@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* variables can be used different fields*/
:root {
  --clr-blue-dark: rgb(4, 11, 21);
  --clr-dark: rgb(16, 16, 17);
  --clr-aqua: rgb(95, 141, 160);
  --clr-orange: rgb(248, 192, 79);
  --clr-orange-dark: rgb(244, 159, 49);
  --clr-white: rgb(255, 255, 255);
  --clr-black: rgb(0, 0, 0);
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 3rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--clr-blue-dark);
  color: var(--clr-white);
}
/*----main div-----*/
.centered {
  max-width: 1000px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: var(--space-md);
}

.logo {
  width: 21rem;
  height: auto;
}

/*-----welcome page----*/
.welcome-container,
.wrong-answer-container,
.finish-page-container,
.breakpoint-page-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.welcome-title,
.finish-title {
  font-size: 2.5rem;
  margin-bottom: var(--space-md);
}

.btn {
  font-family: inherit;
  font-size: 1.1rem;
  padding: 0.5rem;
  width: 10rem;
  margin-top: var(--space-md);
  margin-bottom: var(--space-md);
  border-radius: 0.5rem;
  color: var(--clr-white);
  background: transparent;
  border: 1px solid var(--clr-white);
  cursor: pointer;
}

.btn:hover {
  color: var(--clr-black);
  background-color: var(--clr-white);
  border: none;
  transition: all 0.1s linear;
}

#fifty-button {
  font-size: 1.4rem;
  background: rgb(100, 103, 131);
  background: linear-gradient(
    0deg,
    rgba(100, 103, 131, 0.9976365546218487) 0%,
    rgba(52, 53, 65, 1) 0%,
    rgba(3, 10, 83, 1) 0%,
    rgba(136, 142, 226, 1) 0%,
    rgba(119, 124, 192, 1) 0%,
    rgba(69, 71, 91, 1) 0%,
    rgba(129, 196, 213, 1) 0%,
    rgba(141, 136, 226, 1) 0%,
    rgba(70, 125, 143, 1) 0%,
    rgba(16, 36, 98, 1) 51%,
    rgba(0, 0, 0, 1) 51%,
    rgba(18, 19, 82, 0.9374124649859944) 51%,
    rgba(70, 125, 143, 1) 100%
  );
  /* gradient for 50:50 button*/
  color: var(--clr-orange-dark);
  border: 1px solid var(--clr-aqua);
  border-radius: 4rem;
  padding: var(--space-sm);
  cursor: pointer;
}

#fifty-button:hover {
  color: var(--clr-orange);
  transition: 0.1s ease-in;
  transform: scale(1.02);
  box-shadow: 0 8px 8px rgba(95, 141, 160, 0.2);
}

#fifty-button:disabled {
  opacity: 0.4;
  cursor: unset;
}

.breakpoint-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/*----question pages----*/
.question-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2;
}
.question-title {
  margin: var(--space-md) 0;
}

ul {
  list-style: none;
}

#answers-list {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  row-gap: 1rem;
  margin-bottom: var(--space-md);
  width: 100%;
}

/* hide the radio button visibility*/
.answer-list-item input[type='radio'] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.answer-list-item label {
  display: inline-block;
  cursor: pointer;
  background-color: var(--clr-dark);
  color: white;
  padding: var(--space-sm) var(--space-md);
  clip-path: polygon(
    10% 0,
    90% 0,
    100% 50%,
    90% 100%,
    10% 100%,
    0% 50%
  ); /*  it gives the answers hexagon shape*/
  width: 100%;
  box-shadow: inset 0 0 26px 10px rgb(25, 52, 74);
}

.answer-list-item label:hover {
  background-color: var(--clr-orange);
  color: var(--clr-black);
}

.answer-list-item input[type='radio']:checked + label {
  background-color: var(--clr-orange-dark);
}

/*-----process bar-----*/
#process-bar-element {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.process-bar-list {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.process-bar-list li {
  margin-bottom: var(--space-sm);
  padding: 0.1rem var(--space-sm);
  clip-path: polygon(100% 0, 100% 100%, 10% 100%, 0 50%, 10% 0);
}

.active-bar {
  background-color: var(--clr-orange);
  color: var(--clr-black);
}

.disabled-bar {
  color: var(--clr-white);
}

.pointer-none {
  pointer-events: none;
}

.wrong-answer {
  color: rgba(0, 0, 0, 0) !important;
}

.wrong-answer-text {
  font-size: 1.5rem;
  color: var(--clr-orange-dark);
}

@media (max-width: 768px) {
  .logo {
    width: 20rem;
  }
}

@media (max-width: 576px) {
  .logo {
    width: 18rem;
  }
  #fifty-button {
    font-size: 0.9rem;
  }
  #answers-list {
    grid-template-columns: 1fr;
  }
  #process-bar-element {
    margin-left: var(--space-sm);
    flex: 1;
    font-size: 0.5rem;
  }
  .question-wrapper {
    justify-content: flex-start;
    flex: 1;
  }
}
