.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

ul {
  list-style: none;
}

#process-bar-element{
  border: 1px solid black;
}
#process-bar-element li{
  border: 1px solid red;
}

.active{
  background-color: tomato;
}
.disabled{
  background-color: lightslategrey;
}